;; shadow-cljs configuration
{:source-paths
 ["src" "dev"]

 :deps true

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main ;; <- becomes public/js/main.js
         {:entries [components.app]}}
        :js-options
        {:resolve
         {"react" {:target :npm :require "preact-compat"}
          "react-dom" {:target :npm :require "preact-compat"}
          "create-react-class" {:target :npm :require "preact-compat/lib/create-react-class"}}}

        ;; start a development http server on http://localhost:8020
        :devtools
        {:http-root "public"
         :http-port 8020}}}}
